header{
  width: 100%;
}

nav{
  width: 100%;
  display: flex;
  padding-left: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: black 4px solid;
}
ul{
  display: flex;
  list-style-type: none;
 }
li{
  padding: 10px;
  cursor: crosshair;
}

li:hover{
  background-color: black;
  color: white;
}

.cart{
    height: 8%;
    position: absolute;
    right: 15px;
    top: 5px;
}
.cart:hover{
  cursor: crosshair;
}

h2{
  text-align: center;
  font-size: 100px;
  background-color: gray;
  color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1:hover{
  animation: mymove 5s infinite;
  cursor:none;
 } 

 @keyframes mymove {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;}
}
a{
  text-decoration: none;
}
.counteiner{
  
  border: black solid 3px;
  display: flex;
  justify-content:space-around; 
  margin: 20px;
  font-weight: 400;
  
}

.allitems{
  display: flex;
  
}

p{
  padding-left: 15px;
  font-weight: 400;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Items{
  width: 20%;
  margin:20px;
  border: bisque 2px solid;
}

.Items img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

button{
  background-color: beige;
  position: relative;
  font-size: larger;
  margin: 15px;
  width: 75%;
}

.detailOfPurchase{
  display: flex;
  border:solid gray 2px;
}

.cart2{
  position: relative;
  margin: 0 auto;
  width: 50%;
  font-size: 14px;
}

.loading{
  width:30%;
  margin:o auto
}


